*{
  margin: 0;
  margin: auto;
  
}
:root {
  color-scheme: light dark;
}
.header_color{
  color: rgb(42, 77, 185);
}
/* .header{
  margin: auto;
} */

.buttons{
  margin-top: 18px;
 
  /* display: flex; */
 /* margin-left: 0; */
  /* justify-content: space-evenly; */
}
h3{
  margin-top: 10px;
}
h2{
  margin-top: 15px;
}
.addForm{
  display: flex;
  flex-direction: column;
  margin-left: 0;
  align-items: left;
}
.add_input{
  display: flex;
}
.input_field{
  margin: auto;
  border: 1px solid #a5a4a4;
  border-radius: 4px;
  height: 32px;
  font-size: 0.95rem;
  margin-top: 25px;
}
.input_field:focus{
  outline: none;
  border: 1.6px solid rgb(38, 77, 184);
  /* border: 1.6px solid white; */
  
}

@media(prefers-color-scheme: dark){
  .input_field{
    background-color:rgb(50, 50, 50);
    /* color: black; */
  }
  .input_field::placeholder{
    color: rgb(185, 183, 183);
  }
  .input_field:focus{
    border-color: white;
  }
}